<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Biblioteca</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</link>
</head>

<body>

	<img th:src="@{/images/spring.png}" alt="Imagen de Spring para demo"></img>
	<h1>¡Bienvenido a la biblioteca!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu lorem eu nisi fermentum luctus eget in
		arcu.</p>
	<p>Nullam nec justo vel elit dapibus sagittis non ut tellus. Vestibulum ante ipsum primis in faucibus orci luctus et
		ultrices posuere cubilia Curae.</p>
	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ullamcorper
		ex vel nunc fringilla ultrices.</p>

	<button><a href="/usuario/listar">Ver listado de usuarios</a></button><br><br>
	<button><a href="/libro/listar">Ver listado de libros</a></button><br><br>
	
</body>

</html>