<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<!-- Hoja de estilos de bootstrap enlazada vía CDN-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</link>

</head>

<body class="mx-3">

	<div>
		<img th:src="@{/images/spring.png}" alt="Imagen de Spring para demo"></img>
		<button class="my-3 btn btn-primary btn-lg"><a class="nav-link active" aria-current="page"
				th:href="@{/home}">Inicio</a></button>
		<button class="my-3 btn btn-info btn-lg"><a class="nav-link active" aria-current="page"
				th:href="@{/libro/listar}">Listado Libros</a></button>
	</div>
	<h1 th:text="${titulo}"></h1>



	<form th:action="@{/libro/form}" th:object="${libro}" method="post" enctype="multipart/form-data">

		<table>
			<tr>
				<td>Nombre</td>
				<td>
					<input type="text" th:field="*{nombre}">
				</td>
				<td th:if="${#fields.hasErrors('nombre')}">
					<small th:errors="*{nombre}" class="form-text text-danger"></small>
				</td>
			</tr>

			<tr>
				<td>Autor</td>
				<td>
					<input type="text" th:field="*{autor}">
				</td>
				<td th:if="${#fields.hasErrors('autor')}">
					<small th:errors="*{autor}" class="form-text text-danger"></small>
				</td>
			</tr>

			<tr>
				<td>Genero</td>
				<td>
					<input type="text" th:field="*{genero}">
				</td>
				<td th:if="${#fields.hasErrors('genero')}">
					<small th:errors="*{genero}" class="form-text text-danger"></small>
				</td>
			</tr>

			<tr>
				<td>Números Ejemplares</td>
				<td>
					<input type="number" th:field="*{numero_ejemplares}">
				</td>
				<td th:if="${#fields.hasErrors('numero_ejemplares')}">
					<small th:errors="*{numero_ejemplares}" class="form-text text-danger"></small>
				</td>
			</tr>
			<tr>
				<td>ISBN</td>
				<td>
					<input type="text" th:field="*{ISBN}">
				</td>
				<td th:if="${#fields.hasErrors('ISBN')}">
					<small th:errors="*{ISBN}" class="form-text text-danger"></small>
				</td>
			</tr>

			<tr>
				<td>Foto</td>
				<td><input type="file" name="file" class="form-control" /></td>
			</tr>

			<tr>
				<td>Botón</td>
				<td>
					<input type="submit" value="Guardar libro">
				</td>
			</tr>


		</table>
		<input type="hidden" th:field="*{id}" />




	</form>

</body>

</html>